/*
 * GRILLES
** =============================================================== */

/* Main */
.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 20px;
    align-items: center;
    padding: 15px;
    animation : section 2s ease alternate;
}
.section {
    display: grid;
    padding: 15px;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px 8px;
    animation : section 2s ease alternate;
}
@keyframes section {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;              
    }
}
.section>* {
    grid-column: 1/-1;
    max-width: 100%;
}
.section--sliderMusic{
    margin-bottom: 2em;
}
/* FOOTER */
.footer__liste {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;
    padding: 15px;
    justify-items: center;
}
.footer__music{
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    width: 100%;   
    height:22px;
    position: relative;
}

/* MODIFIER GRILLE */

@media screen and (min-width: 768px) {
    .section {
        max-width: 600px;
        margin: auto;
    }
    .header{
        padding: 25px;
    }
}

@media screen and (min-width: 1440px) {
    .section {
        padding: 15px;
        grid-template-columns: repeat(10, 1fr);
        grid-gap: 40px 20px;
        max-width: 1400px;
        margin-bottom: 1em;
        margin-top: 3em;
    }
    .section--DisqueMobile{
        display: none;
    }
    .header {
        padding-bottom: 0px;
    }
    /* DEBUT GRILLE */
    .pgrid-start7 {
        grid-column-start: 7;
    }
    // ROW
    .pgridRow-start1 {
        grid-row-start: 1;
    }
    .pgridRow-start2 {
        grid-row-start: 2;
    }
    .pgridRow-start3 {
        grid-row-start: 3;
    }
    .pgridRow-start4 {
        grid-row-start: 4;
    }
    /* FIN GRILLE */
    .pgrid-end6 {
        grid-column-end: 6;
    }
    // ROW
    .pgridRow-end3 {
        grid-row-end: 3;
    }
    .pgridRow-end5 {
        grid-row-end: 5;
    }
}

@media screen and (min-width: 1900px) {
    .section {
        grid-gap: 40px 20px;
        max-width: 1700px;
    }
    .section--DisqueMobile{
        display: none;
    }
}