/*
 * LAYOUT
** =============================================================== */






/*********** LOADER ***********/
.loader{
    display: none;
}
.out .loader{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9999;
}
.out .loader__bar{
    background-color: var(--color-bleu);
    display: block;
    width: 100%;
    height: 0%;
    animation: loader ease 2.5s;
    &--noir{
        background-color: var(--color-noir);
        animation-delay: 200ms;
    }
    &--rouge{
        background-color: var(--color-red);
        animation-delay: 300ms;
    }
    &--jaune{
        background-color: var(--color-jaune);
        animation-delay: 400ms;
    }
    &--vert{
        background-color: var(--color-vert);
        animation-delay: 500ms;
    }
}
@keyframes loader {
    0%{
      height: 0%;
    }50%{
        height: 105%;
    }100%{
        height: 0%;
    }
}
.out .main, .out .footer, .out .header{
    display: none;
}
/*********** MENU BURGER ***********/
.header{
    max-width: 320px;
    margin: auto;
}
.container{
    width: 40px;
    height: 35px;
    display: relative;
}
.burg{
    display: absolute;
    width: 40px;
    height: 8px;
    margin-bottom: 3px;
    background-color: var(--color-primary);
    border-radius: 4px;
}
.burg__h{
    animation: burgerH 0.8s ease;
}
@keyframes burgerH{
// 0%{
//   transform: translateY(11px) rotate(45deg);
// }
    0%{
        transform: translateY(11px) rotate(0deg);
    }100%{
        transform: translateY(0px) rotate(0deg);
    }
}
.burg__b{
    animation: burgerB 0.8s ease;
}
@keyframes burgerB{
// 0%{
//   transform: translateY(-11px) rotate(45deg);
// }
    0%{
        transform: translateY(-11px) rotate(0deg);
    }100%{
        transform: translateY(0px) rotate(0deg);
    }
}
.burg__h--clicked{
    transform: translateY(11px) rotate(45deg);
    animation: burger 1s ease;
    animation-direction: alternate;
}
@keyframes burger{
    0%{
        transform: translateY(11px) rotate(0deg);
    }100%{
        transform: translateY(11px) rotate(45deg);
    }
}
.burg__m--clicked{
    visibility: hidden;
}
.burg__b--clicked{
    transform: translateY(-11px) rotate(-45deg);
    animation: burger2 1s ease;
    animation-direction: alternate;
}
@keyframes burger2{
    0%{
        transform: translateY(-11px) rotate(0deg);
    }100%{
        transform: translateY(-11px) rotate(-45deg);
    }
}
/*********** LOGO ***********/
.logo--img{
    height: 35px;
    cursor: pointer;
}
.logo{
    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    z-index: 99;
    cursor: pointer;
}

/*********** MENU ***********/
.nav__lien {
    color: var(--color-on-background);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    display: inline-block;
    padding: 1em;
    margin: .5em;
    font-size: 20px;
    transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
}
.nav__lien:hover {
    color: var(--color-primary);
}

/*********** BOUTON ***********/
.button-mat {
    color: var(--color-on-primary);
    border: 0px transparent;
    border-radius: 1.25rem;
    transition: 0.3s ease-in-out;
    transition-delay: 0s;
    transition-delay: 0.35s;
    overflow: hidden;
}
.button {
    padding: 15px 20px 10px 20px;
    background-color:  var(--color-primary);
    text-align: center;
    display: inline-block;
    font-size: 1em;
    text-transform: uppercase;
    position: relative;
    will-change: transform;
    z-index: 0;
}
.btn--5::before {
    transform: translate(-120%, -50%) translateZ(0);
}
.button-mat::before {
    content: "";
    display: block;
    background-color: var(--color-secondary);
    position: absolute;
    width: 200%;
    height: 500%;
    border-radius: 100%;
    transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
}
.psuedo-text {
    color: var(--color-on-primary);
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    display: inline;
    height: auto;
    font-size: 1.2em;
    font-size: 700;
    transition: 0.25s ease-in;
    transition-delay: 0s;
    transition-delay: 0.1s;
}
.button-mat:hover {
    color: transparent;
}
.btn--5:hover::before {
    transform: translate(-45%, -34%) translateZ(0);
}
.button-mat:hover .psuedo-text {
    // color: white;
    color: var(--color-on-secondary);
}

/*********** ANNIMATION TOURNE DISQUE ***********/
@keyframes circle{
    0%{
      transform:rotate(0deg);
    }
    100%{
      transform:rotate(360deg);
    }
}
.svgContainer{
    position: relative;
    width: fit-content;
    height: fit-content;
}
.tourneDisque{
    width:100%;
    height: 100%;
}
.tourneDisque--Grand{
    width:100%;
    position: relative;
    display: none;
}
.aiguille{
    position: absolute;
    top: 0px;
    z-index: 100;
}

.disc{
    position: absolute;
    top: 0px;
    margin: auto;
    z-index: 1;
    transform-origin: 50% 58.5%;
}
.disc--mobile{
    transform-origin: 48.2% 50.8%;
}

.discPlayM, .discPlay{
    animation: circle 10s linear infinite forwards;
    animation-delay: 0.8s;
}
/*********** MAIN ***********/
.main{
    max-width: 320px;
    margin: auto;
}

/*********** FOOTER ***********/
.footer__div{
    background-color:var(--color-background-footer) ;
}
.music__el{
    // background-color: var(--color-jaune);
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 5px;
    height:22px;
    margin-right: 2px;
    animation : sound 0.9s ease-in-out infinite alternate;
}
// .footer__music{
//     background: linear-gradient(89.99deg, #2A3086 0.32%, #A81817 34.58%, #DEBF33 66.25%, #417E52 99.99%);
// }
@keyframes sound {
    0% {
    //    opacity: .35;
        height: 22px; 
    }
    100% {
        // opacity: 1;       
        height: 3px;        
    }
}
.footer__liste{
    max-width: 320px;
    margin: auto;
}

// LISTE RCA
.rca__el {
    display: flex;
    padding-bottom: 5px;
}
.rca__el::before {
    content: url(../images/puce.svg);
    width: 20px;
    display: inline-flex;
    padding-right: 10px;
}
.rca2{
    animation: neon2 5s ease-out infinite;
  }
  @keyframes neon2{
    0%, 9%, 15%, 79%, 83%, 100% {
        fill: url(#pattern0);
      }
      10%, 14%, 80%, 82%{
        fill:none;
      } 
  }
  .rca2--pattern1{
    animation: neon2--pattern1 5s ease-out infinite;
  }
  @keyframes neon2--pattern1{
    0%, 9%, 15%, 79%, 83%, 100% {
        fill: url(#pattern1);
      }
      10%, 14%, 80%, 82%{
        fill:none;
      } 
  }
  .rca2--pattern2{
    animation: neon2--pattern2 6s ease-out infinite;
  }
  @keyframes neon2--pattern2{
    0%, 9%, 15%, 79%, 83%, 100% {
        fill: url(#pattern2);
      }
      10%, 14%, 80%, 82%{
        fill:none;
      } 
  }
@keyframes nomMusicSlide {
    from{
        left: -400px;
    }
    to{
        transform: translateX(1080px);
    }
}
.nomMusicContainer{
    width: 180px;
    height: 12px;
    background-color: #6c5eab;
    top: 270px;
    right: 115px;
    position: absolute;
    overflow: hidden;
    &__el{
        position: absolute;

// changer la position et la taille pour tous les divices
        top: 3px;
        left: -400px;
        font-size: 7px;
        &--hidden{
            display: none;
        }
        &--1{
            animation: nomMusicSlide 6s linear infinite;    
            animation-delay: 1s;
        }
        &--2{
            animation: nomMusicSlide 6s linear infinite;
            animation-delay: 3s;
        }
        &--3{
            animation: nomMusicSlide 6s linear infinite;
            animation-delay: 5s;
        }
    }
}





// SLIDER MEMBRES DU GROUPES
.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 150px);
    column-gap: 2%;
}
.grid--center{
    justify-items: center;
}
.slider{
    width: 100%;
    // max-width: 1200px;
    // margin: 100px auto 0;
    position: relative;
}
.slider__el{
    position: absolute;
    top: 0;
    left: 0;
    /* display: none; */
    /* visibility: hidden;
    opacity: 0;
    pointer-events: none; */
}
.slider__el--show{
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}
.slider__content{
    grid-column: 1 / span 4;
    grid-row: 2 / 5;
    background-color: var(--color-primary);
    z-index: 10;
    padding: 5px;
    font-size: 16px;
    p{
        padding-top: 10px;
    }
}

.slider__img{
    grid-column: 4 / -1;
    grid-row: 1 / span 2;
    max-width: 100%;
    align-self: center;
}
.slider__control{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 10;
}
.slider__btn{
    grid-column: 2 / 3;
    grid-row: 5;
    padding-top: 30px;
}
.slider__btn--next{
    grid-row: 5;
    grid-column: 5 / 6;
}
.slider--anim .slider__content{
    transform: translateX(50px);
    opacity: 0;
    transition: all .3s ease-out;
    pointer-events: none;
}
.slider--anim .slider__img{
    transform: translateX(-50px);
    opacity: 0;
    transition: all .3s ease-out;
    pointer-events: none;
}
.slider--anim .slider__el--show .slider__content,
.slider--anim .slider__el--show .slider__img{
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
    transition: all .3s ease-out;
}









// SLIDER MUSIC ALBUMS
.grid--music{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    // grid-template-rows: repeat(5, 170px);
    grid-template-rows: 170px 1fr 1fr 1fr 1fr;
    column-gap: 2%;
    row-gap: 2%;
    justify-items:center;
    align-items: center;
}
.grid--music >*{
    grid-column: 1 / -1;
}
.sliderMusic{
    width: 100%;
    // max-width: 1200px;
    // margin: 100px auto 0;
    position: relative;
}
.sliderMusic__el{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* display: none; */
    /* visibility: hidden;
    opacity: 0;
    pointer-events: none; */
}
.sliderMusic__el--show{
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}
.sliderMusic__content{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 10;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
    .sliderMusic__svg{
        width: 100%;
        max-width: 168px;
        max-height: 168px;
    }
}
.sliderMusic__svg--gauche{
    grid-column: 2 / 8;
    grid-row: 1 / 2;
}
.sliderMusic__svg--droit{
    grid-column: 4 / 10;
    grid-row: 1 / 2;
}
.sliderMusic__svg--milieu{
    grid-column: 3 / 9;
    grid-row: 1 / 2;
}

// .sliderMusic__img{
//     grid-column: 4 / -1;
//     grid-row: 1 / span 2;
//     max-width: 100%;
//     align-self: center;
// }
.sliderMusic__control{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    // z-index: 10;
}
.sliderMusic__btn{
  grid-column: 2 / 3;
  grid-row: 4;
  align-items: center;
  cursor: pointer;
  .sliderMusic__img{
    cursor: pointer;
  }
}
.sliderMusic__btn--next{
  
  grid-column: 5 / 6;
}
.sliderMusic__control .sliderMusic__btn{
    padding-top: 5px;
}
.sliderMusic__btn--play{
    grid-column: 3 / 5;
    grid-row: 4;
    justify-items: center;
    background: inherit;
    border: inherit;
    // display: none;
}
// .sliderMusic__el--show .sliderMusic__btn--play{
//     display: inherit;
// }
.sliderMusic--anim .sliderMusic__content{
    transform: translateX(50px);
    opacity: 0;
    transition: all .3s ease-out;
    pointer-events: none;
}
.sliderMusic--anim .sliderMusic__content{
    transform: translateX(50px);
    opacity: 0;
    transition: all .3s ease-out;
    pointer-events: none;
}
.sliderMusic--anim .title--niveau3, .sliderMusic--anim .progress-bar{
    transform: translateX(-50px);
    opacity: 0;
    transition: all .3s ease-out;
    pointer-events: none;
}
.sliderMusic--anim .sliderMusic__el--show .sliderMusic__content,
.sliderMusic--anim .sliderMusic__el--show .title--niveau3,
.sliderMusic--anim .sliderMusic__el--show .progress-bar,
.sliderMusic--anim .sliderMusic__el--show .sliderMusic__img{
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
    transition: all .3s ease-out;
}
.progress-bar {
    width: 100%;
    height: 8px;
    background-color: #BDCCD4;
    border-radius: 3px;
}
.progress-bar__actif {
    border-radius: 3px;
    width: 0%;
    height: 8px;
    background-color: #DEBF33;;
}







// ANNIMATION ALBUMS
/* Annimation 'Christmas is Here' SVG */
.boule{
    animation: boule 4s ease-in-out infinite;
    animation-direction: alternate;
    transform-origin: top center;
  }
  .boule--jaune{
    animation-duration:3s;
  }
  .boule--noire{
    animation-duration:3.5s;
  }
  .boule--vert{
    animation-duration:4.5s;
  }
  .boule--bleu{
    animation-duration:5s;
  }
  @keyframes boule{
    0%{
      transform:rotateZ(-2deg);
    }
    100%{
      transform:rotateZ(2deg);
    }
  }
  
  /* Annimation 'The Best Of Pentatonix Christmas' SVG */
  .ampoule{
    animation: ampoule 0.5s ease-in-out infinite;
    animation-direction: alternate;
  }
  @keyframes ampoule{
    0%{
      opacity:1;
    }
    100%{
      opacity:0.5;
    }
  }
  
  /* Annimation 'At Home' SVG */
  .lanpadaire{
    animation: lampadaire 3s ease-in-out infinite;
    animation-direction: alternate;
  }
  .lanpadaire--noire{
      animation-delay: 100ms;
  }
  .lanpadaire--rouge{
      animation-delay: 200ms;
  }
  .lanpadaire--jaune{
      animation-delay: 300ms;
  }
  .lanpadaire--vert{
      animation-delay: 400ms;
  }
  @keyframes lampadaire{
    0%{
      transform: translateY(-10px);
    }
    100%{
      transform: translateY(20px);
    }
  }
  
  /* Annimation 'Top Pop, Vol.1' SVG */
  .PopVol{
    animation: PopVol 3s ease-in-out infinite;
    animation-direction: alternate;
  }
  @keyframes PopVol{
    0%{
      transform: translateY(-50px);
    }
    100%{
      transform: translateY(20px);
    }
  }
  /* Annimation 'We Need a Little Christmas' SVG */
  .pivot{
    animation: pivot 3s ease-in-out infinite;
    animation-direction: alternate;
    transform-origin: 181.805px 296.806px;
  }
  .pivot--boulesDroite{
    transform-origin: 513px 269px;
  }
  .pivot--chausures{
    transform-origin: 574px 287px;
  }
  .pivot--girland{
    transform-origin: 103px 281px;
  }
  .pivot--sapin{
    transform-origin: 339px 264px;
  }
  .pivot--coeur{
    transform-origin: 670px 300px;
  }
  @keyframes pivot{
    0%{
      transform: rotateZ(-15deg);
    }
    100%{
      transform: rotateZ(15deg);
    }
  }
  
  /* Annimation 'PTXmas' SVG */
  .sapin{
    animation: sapin 5s ease-in-out infinite;
    animation-direction: alternate;
    transform-origin: bottom center;
  }
  @keyframes sapin{
    0%{
      transform: rotateZ(-1deg);
    }
    100%{
      transform: rotateZ(1deg);
    }
  }
  .etoile path{
    animation: etoile 2s ease-in-out infinite;
    filter:
      drop-shadow(0 0.15vw 0.30vw #fffb0e)
      drop-shadow(0 0.15vw 0.30vw #8a8942);
  }
  @keyframes etoile{
    0%, 9%, 15%, 79%, 83%, 100% {
        filter:
          drop-shadow(0 0.15vw 0.30vw #fffb0e)
          drop-shadow(0 0.15vw 0.30vw #8a8942);
      }
      10%, 14%, 80%, 82%{
          filter:none;
      }
  }
  /* Annimation 'Volume3' SVG */
  .Volume3{
    animation: Volume3 6s ease infinite;
    filter:
      drop-shadow(0 1px 1.7px #FFFFFF)
      drop-shadow(0 1px 0px #00983A)
      drop-shadow(0 3px 2.88px #293382)
      drop-shadow(0 5px 20px #DFC032);
  }
  @keyframes Volume3{
    0%, 9%, 15%, 79%, 83%, 100% {
        filter:
          drop-shadow(0 1px 1.7px #FFFFFF)
          drop-shadow(0 1px 0px #00983A)
          drop-shadow(0 3px 2.88px #293382)
          drop-shadow(0 5px 20px #DFC032);
      }
      10%, 14%, 80%, 82%{
          filter:none;
      }
  }
  
  
  
  /* Annimation 'That's Christmas to Me SVG */
  .batonets{
    animation: batonets 5s ease-in-out infinite;
    animation-direction: alternate;
    transform-origin: bottom center;
  }
  @keyframes batonets{
    0%{
      transform: rotateZ(-5deg);
    }
    100%{
      transform: rotateZ(10deg);
    }
  }
  
  /* Annimation 'Pentatonix' SVG */
  .perso{
    animation: perso 5s ease infinite;
    animation-direction: alternate;
    // transform-origin: bottom center;
  }
  @keyframes perso{
    // 0%{
    //   fill: #293382;
    // } 
    20%{
      fill: #DFC032;
    } 40%{
      fill: #F3E6D6;
    } 60%{
      fill: #A91918;
    } 80%{
      fill: #293382;
    } 100%{
      fill: #F3E6D6;
    }
  }
  
  /* Annimation 'The Lucky Ones' SVG */
  .chanteur{
    animation: chanteur 6s ease infinite;
    animation-direction: alternate;
  }
  .chanteur--bleu{
      animation-delay: 200ms;
  }
  .chanteur--vert{
      animation-delay: 400ms;
  }
  .chanteur--rouge{
      animation-delay: 600ms;
  }
  .chanteur--jaune{
      animation-delay: 800ms;
  }
  @keyframes chanteur{
    0%{
      opacity:0;
    }25%{
      opacity:1;
    }50%{
      opacity:0;
    }100%{
      opacity:1;
    }
  }
  .chanteur--cercle{
    animation: chanteur--cercle 2s ease-in-out infinite;
    animation-direction: alternate;
  }
  @keyframes chanteur--cercle{
    0%{
      transform: rotateZ(-2deg);
    }
    100%{
      transform: rotateZ(2deg);
    }
  }
  
  /* Annimation 'A pentatonix Christmas' SVG */
  .gui{
    animation: gui 4s ease infinite;
    animation-direction: alternate;
  }
  @keyframes gui{
    0%{
      transform: rotateZ(-3deg);
    }100%{
      transform: rotateZ(3deg);
    }
  }
  
  /* Annimation 'Volume1' SVG */
  .vol1{
    animation: vol1 6s ease alternate infinite;
    // animation-direction: alternate;
    stroke-dasharray:  2000;
    stroke-dashoffset: 2000;
  }
  .vol1--x{
    stroke-dasharray:  1050;
    stroke-dashoffset: 1050;
    animation-duration: 5.7s;
    // animation-delay: 2.5s;
  }
  @keyframes vol1{
    to {
      stroke-dashoffset: 0%;
    }
  }
  
  /* Annimation 'Volume2' SVG */
  
  .vol2{
    animation: vol2 6s ease alternate infinite;
  }
  @keyframes vol2{
    20%{
      stroke: #DFC032;
    } 40%{
      stroke: #F3E6D6;
    } 60%{
      stroke: #A91918;
    } 80%{
      stroke: #293382;
    } 100%{
      stroke: #F3E6D6;
    }
  }

























@media screen and (min-width: 768px) {
    .header {
        max-width: 768px;
        margin: auto;
    }
    .footer__liste{
        max-width: 768px;
        margin: auto;
    }
    .main {
        max-width: 768px;
        margin: auto;
    }
    .nomMusicContainer{
        width: 371px;
        height: 25px;
        top: 493px;
        right: 235px;
        &__el{
            font-size: 14px;
        }
    }
    .grid {
        grid-template-rows: repeat(4, 150px);
    }
    .slider{
        margin-top: 3em;
    }
    .slider__content {
        grid-row: 2/4;
        padding: 15px;
        font-size: 18px;
    }
    .slider__btn {
        grid-row: 4;
    }
    .slider__btn--next {
        grid-row: 4;
    }
    .progress-bar{
      grid-column: 2 / 6;
    }
}











@media screen and (min-width: 1440px) {
    .header {
        max-width: 1400px;
        margin: auto;
    }
    .main {
        max-width: 1400px;
        margin: auto;
    }
    .tourneDisque{
        display: none;
    }
    .tourneDisque--Grand{
        // width:500px;
        // position: relative;
        display: block;
    }
    .logo--img {
        height: 80px;
    }
    .logo {
        width: 80px;
        height: 80px;
    }
    .footer__liste {
        max-width: 1400px;
        margin: auto;
    }
    .nav__el .nav__lien:after{
        content: '';
        display: block;
        position: absolute;
        bottom: 3px;
        width: 0%;
        left: 0px;
        height: 10px;
        z-index:-1;
        background:var(--color-secondary);
        transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    }
    .nav__el .nav__lien:hover:after{
        width:100%;
    }
    .nav__el .nav__lien--actif:after{
        content: '';
        display: block;
        position: absolute;
        bottom: 3px;
        width: 100%;
        left: 0px;
        height: 10px;
        z-index:-1;
        background:var(--color-secondary);
        transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    }
    .nav__lien:hover {
        color: var(--color-secondary);
    }
    .rca__el {
        padding-bottom: 0.5em;
        align-items: center;
    }
    .nomMusicContainer{
        width: 495px;
        height: 30px;
        top: 862px;
        right: 57px;
        &__el{
            font-size: 16px;
        }
    }
    .grid{
        max-width: 1400px;
        margin: auto;
    }
    .slider__content{
        p{
            max-width: 500px;
        }
    }
}










@media screen and (min-width: 1900px) {
    .header {
        max-width: 1900px;
        margin: auto;
    }
    .main {
        max-width: 1900px;
        margin: auto;
    }
    .tourneDisque{
        display: none;
    }
    .tourneDisque--Grand{
        // width:500px;
        // position: relative;
        display: block;
    }
    .logo--img {
        height: 80px;
    }
    .logo {
        width: 80px;
        height: 80px;
    }
    .footer__liste {
        max-width: 1900px;
        margin: auto;
    }
    .nav__el .nav__lien--actif:after {
        bottom: 0px;
        height: 5px;
    }
    .nav__el .nav__lien:after{
        bottom: 0px;
        height: 5px;
    }
    .nomMusicContainer{
        width: 495px;
        height: 30px;
        top: 862px;
        right: 47px;
        &__el{
            font-size: 16px;
        }
    }
}








@media screen and (min-width: 3000px) {
    .footer{
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
}