/*
 * VARIZBLES
** =============================================================== */

/* Color and DarkTheme */
:root{
	--color-primary:			#6C5EAB;
	// --color-primary-variant:	#;
	--color-secondary:			#D6C1FF;
	// --color-secondary-variant:	#04773B;
	--color-background:			#1E1E29;
	--color-background-Menu:	#fafafa;
	--color-background-footer:  #2E2E57;
	// --color-error:				#FF0000;
	// --color-primary-hover:		#B6EA20;
	--color-on-primary:			#fff;
	--color-on-secondary:		#000000;
	--color-on-background:		#ffffff;
	--color-on-background-footer:  #ffffff;
	// --color-on-error:			#000000;
	// --color-on-primary-hover:	#000000;
	/* Var couleur logo */
	--color-bleu:				#243C95;
	--color-noir:				#0D0B0C;
	--color-red:				#A81F23;
	--color-jaune:				#DFC142;
	--color-vert:				#298C63;
}


/* Type */

$font-text: 'Roboto', sans-serif;
$font-title:'Roboto', sans-serif;
