/*!
***
* TFA Project
***
* Projet scolaire pour mon TFA de B2
* option DWM
*
* @version: 1.0
* @author: François Szczepkowski <francois.szcz@hotmail.fr>
*
***
*/

@use "_normalize.scss";
@use "_type.scss";
@use "_layout.scss";
@use "_grid.scss";
@use "_list.scss";
@use "_var.scss" as v;

.lien{
    text-decoration: none; 
    color: var(--color-on-primary);
}
.lien:hover, .lien:focus{
    color: var(--color-secondary-variant);
}

/**
* = TODO
*
*
*
* ========================================================== */
