/*!
***
* TFA Project
***
* Projet scolaire pour mon TFA de B2
* option DWM
*
* @version: 1.0
* @author: François Szczepkowski <francois.szcz@hotmail.fr>
*
***
*/

@use "_normalize.scss";
@use "_type.scss";
@use "_layout.scss";
@use "_grid.scss";
@use "_list.scss";
@use "_var.scss" as v;

.lien{
    text-decoration: none; 
    color: var(--color-on-primary);
}
.lien:hover, .lien:focus{
    color: var(--color-secondary-variant);
}



/*********** SCROL BAR + SELECTION TEXT ***********/
*::selection {
    background: #6C5EAB;
}

::-webkit-scrollbar {
    width: 10px;
}  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #1E1E29; 
    border-radius: 10px;
}  
::-webkit-scrollbar-thumb {
    background: #6C5EAB; 
    border-radius: 10px;
}




/**
* = TODO
*
* rendre plus rapide l'annimation burger "li" + vérification cursor pointer.

* Hover sur les fleches + pointer cursor
* Hover btn play
* Supprimer le texte sur la page index "annimation" -> rajouter le text au niveau svg
* Annimation Hover Logo
* Responsive au niveau lecteur Musique
*
* Vérification W3C 
*
* ========================================================== */
